.header {
  background-color: var(--blue);
  height: 5rem;
  font-size: calc(10px + 2vmin);
  color: var(--white-font);

  &_navigation {
    height: auto;
    line-height: normal;
    background-color: transparent;
    box-shadow: none;
  }

  &_link {
    display: flex;
    align-items: center;
  }
}

.nav-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}

.logo {
  height: calc(10px + 5vmin);;
  pointer-events: none;
  margin-right: 1rem;
}

